.convert {
  &__wrapper {
    display: grid;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    row-gap: 60px;
  }

  &__date {
    margin-top: 10px;
  }

  &__rate {
    margin-top: 80px;

    &-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 300px);
      row-gap: 20px;
      justify-content: center;
    }
  }

  &__value {
    position: relative;
    margin: 0 40px;

  }

  &__input {
    padding: 10px 0;
    background: transparent;
    border: 2px solid $text-color;
    text-align: center;
    width: 100%;
  }

  &__label {
    position: absolute;
    padding: 0 10px;
    top: -11px;
    left: 20px;
    background: $bg-color;
  }

  &__input[value] {
    color: $text-color;
    font-size: 24px;
  }

  &__btn {
    margin-top: 40px;
  }

  &__img {
    width: 100%;
  }
}