.contacts {
  &__wrapper {
    display: grid;
    text-align: center;
    align-items: center;
    row-gap: 60px;
  }

  &__map {
    iframe {
      width: 100%;
      min-height: 600px;
      filter: opacity(0.25);
      transition: all .5s;
      &:hover {
        filter: opacity(1);
      }
    }
  }
}