.hamburger {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  opacity: 0;
  z-index: 3;

  span {
    display: block;
    width: 17px;
    height: 1px;
    background: $text-color;
    border-radius: 8px;
    transition: all .5s;
  }

  .long {
    width: 23px;
  }
}

.close {
  top: 36%;
  span {
    height: 2px;
  }

  span:nth-child(1) {
    transform: rotate(45deg);
    margin-top: 15px;
  }

  span:nth-child(3) {
    transform: rotate(-45deg);
    margin-top: -7px;
  }

  span.long {
    display: none;
  }
}