.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $bg-color;
  z-index: 10;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 104px;
    cursor: pointer;
  }
  &__img {
    max-width: 100%;
  }
  &__wrapper {
    display: flex;
  }
  &__menu {
    margin: 0 60px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__list {
    padding: 15px 20px;
    transition: all .75s;
    &:hover, &:focus {
      background: $hover-color;
    }
  }

  &__order {
    position: relative;
    display: flex;
  }
  &__cart {
    padding: 12px 20px;
    transition: all .5s;
    cursor: pointer;
  }
  &__cart:hover, &__login:hover {
    background: $hover-color;
  }
  &__login {
    padding: 15px 20px;
    cursor: pointer;
  }
}

