@media(max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 720px;
  }
  .hamburger {
    opacity: 1;
  }
  .header {
    &__wrapper {
      position: absolute;
      top: 0;
      right: -360px;
      height: 100vh;
      background: $bg-color;
      transition: all .5s;

      &_active {
        right: 0;
      }
    }

    &__menu {
      flex-direction: column;
      justify-content: flex-start;
      width: 300px;
      margin-top: 80px;
    }

    &__order {
      margin-right: 40px;
    }
  }

  .mt_100 {
    margin-top: 60px;
  }

  .col-2 {
    grid-template-columns: 1fr;
  }

  .brands {
    &__wrapper {
      grid-template-columns: repeat(4, 100px);
    }
  }

  .collection {

    &__item {
      &-image {
        height: auto;
      }
    }
  }


  .about {
    &__header {
      grid-template-columns: 1fr;
    }

    &__social {
      justify-content: center;
      padding: 30px 0;
    }

    &__text {
      padding-bottom: 100px;
    }
  }
}

@media(max-width: 768px) {
  * {
    font-size: 14px;
  }
  .title_fsz36 {
    font-size: 28px;
  }

  .title_fz18 {
    font-size: 14px;
  }

  .container {
    width: 540px;
  }

  .slider {
    margin: 0 auto;
    overflow: hidden;

    &__img {
      width: 100%;

      &:hover {
        filter: none;
      }
    }

    &__line {
      display: flex;
      position: relative;
      transition: all 1s ease;
      left: 0;
    }

    &__next, &__prev {
      display: block;
    }
  }

  .product-catalog__old {
    font-size: 12px;
  }

  .collection__item-prices {
    flex-direction: column;
  }

  .service {
    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__text {
      width: 330px;
    }
  }

  .catalog {
    &__wrapper {
      gap: 0;
    }
  }

  .about__item {
    margin: 0 15px;
  }

  .footer__wrapper {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 576px) {
  .container {
    width: 100%;
  }
  .mt_100 {
    margin-top: 40px;
  }

  .collection {

    &__tabs {
      flex-direction: column;
    }

    &__tab {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__items {
      grid-template-columns: 1fr;
    }

    &__image-description {
      top: 27%;
    }
  }

  .brands {

    &__substrate {
      height: 300px;
    }

    &__wrapper {
      grid-template-columns: repeat(2, 100px);
      justify-content: center;
      gap: 30px
    }
  }

  .about {

    &__list {
      flex-direction: column;
    }

    &__item {
      margin: 5px auto;
    }

    &__description {
      padding: 0 20px;
    }
  }

  .convert {

    &__rate {

      &-wrapper {
        grid-template-columns: 1fr;
      }
    }
  }
}