.presentation {
  padding-top: 100px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 60px;
  }
  &__video {
    max-width: 100%;
  }
  &__text {
    text-align: center;
    padding: 0 80px 60px 80px;
  }
  &__button {
    text-align: center;
  }
}