.service {
  padding-bottom: 100px;
  text-align: center;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 100px;
    gap: 60px;
  }

  &__text {
    width: 600px;
    margin: 0 auto;
  }

  &__item {
    &-link {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 120px;
      height: 120px;
      border: 2px solid $text-color;
    }

    &-title {
      margin-top: 60px;
    }

    &-text {
      font-size: 14px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70px;
      height: auto;
      fill: $text-color;
    }
  }
}