.slider {
  position: relative;
  &__next, &__prev {
    display: none;
    position: absolute;
    padding: 10px;
    border: 1px solid $text-color;
    top: 50%;
    transform: translateY(-50%);
    svg {
      fill: $text-color;
      width: 10px;
      height: auto;
    }
  }

  &__next {
    left: 20px;

    svg {
      transform: rotate(90deg);
    }
  }

  &__prev {
    right: 20px;

    svg {
    transform: rotate(-90deg);
  }
  }
}