.collection {
  padding-top: 100px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    align-items: center;
  }
  &__tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  &__tab {
    margin: 0 20px;
    border: 2px solid $text-color;
    padding: 10px 20px;
    transition: all .5s;
    cursor: pointer;
    &_active {
      background: $hover-color;
    }
    &:hover, &:focus {
      background: $hover-color;
    }
  }
  &__content {
    margin-top: 60px;
  }
  &__items {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  &__image {
    position: relative;
    &-description {
      position: absolute;
      top: 63%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    &-title {
      margin-bottom: 0;
    }
  }
  &__img {
    max-width: 100%;
  }
  &__button {

  }
  &__btn {
    margin: 0 auto;
  }
}
