@media(max-width: 1440px) {
}

@media(max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 720px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 540px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 100%;
  }
}