.product-catalog {
  display: grid;
  &__image {
    height: 270px;
    overflow: hidden;
  }
  &__img {
    max-width: 100%;
    transition: transform 0.25s;
  }
  &__image:hover &__img {
    transform: scale(1.3);
  }
  &__title {
    text-align: left;
    margin-bottom: 10px;
  }
  &__prices {
    display: flex;
  }
  &__old {
    font-size: 14px;
    line-height: 22px;
    margin-right: 20px;
    text-decoration: line-through;
  }
}