@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import "base/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: $text-color;
  letter-spacing: 1.5px;
}

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

* a {
  text-decoration: none;
  color: $text-color;
}

* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hr {
  margin: 20px auto 25px auto;
  width: 100px;
}

@import "bloks/title";
@import "bloks/buttons";
@import "bloks/header";
@import "bloks/promo";
@import "bloks/product-catalog";
@import "bloks/collection";
@import "bloks/presentation";
@import "bloks/catalog";
@import "bloks/brands";
@import "bloks/about";
@import "bloks/convert";
@import "bloks/service";
@import "bloks/contacts";
@import "bloks/forms";
@import "bloks/footer";
@import "bloks/media";